/* CSS by Jacquelyn Bui */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@import url(https://fonts.google.com/share?selection.family=Molle:ital@1%7CMontserrat);

:root {
    --yellow: #F6D64A;
    --teal: #55BCD5;
    --purple: #9B26B0;
    --blue: #499BD2;
    --dark-gray: #222222;
    --light-gray: #EAEAEA;
    --white: #FFFFFF;
    --black: #000000;
    --heading-font: "Molle";
    --body-font: "Montserrat", sans-serif;
}

h1, h2, h3 {
	font-family: var(--heading-font);
}

h4, p, q, small, nav, button, form, footer a {
	font-family: var(--body-font);
}

#skip, .sr-only {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

header {
	background-image: linear-gradient(var(--teal), var(--white));
}

#toggle, nav ul {
	display: none;
}

#menu-toggle {
	display: grid;
}

#toggle ~ label {
	background-color: var(--yellow);
	text-transform: uppercase;
	text-align: center;
	padding: 1rem 2rem;
	font-weight: 600;
	grid-column: 4/5;
	position: relative;
	bottom: 13rem;
}

#toggle:checked ~ ul {
	display: block;
	position: relative;
	bottom: 13rem;
	background-color: var(--teal);
	text-align: center;
}

#toggle:checked ~ label {
	grid-column: 1/-1;
	text-align: center;
	background-color: var(--black);
	color: var(--white);
	padding: 1rem 13.5rem;
}

#toggle:checked ~ ul li {
	display: block;
	text-transform: uppercase;
	padding: 2rem 0;
	border: 1px solid var(--black);
}

#toggle:checked ~ ul a {
	display: block;
	color: var(--black);
	text-decoration: none;
	font-weight: 600;
}

h1 {
	font-size: 3rem;
	padding: 1rem 0 0.5rem 2.5rem;
}

h2 {
	font-size: 2.5rem;
	padding: 0rem 0 0.5rem 2.5rem;
}

p {
	font-size: 1.3rem;
	line-height: 1.7;
	margin: 0 2.5rem;
}

h3 {
	font-size: 2rem;
	padding: 1.5rem 0 0.5rem 2.5rem;
}

h4 {
	font-size: 1.5rem;
}

#img-grid {
	margin-top: 1rem;
	display: grid;
}

#plan{
	background-color: var(--yellow);
	padding-bottom: 1rem;
}

#plan div {
	display: grid;
}

#plan section {
	display: grid;
	background-color: var(--teal);
	width: 70%;
	margin: 0.5rem auto;
	border: 2px solid var(--white);
	border-radius: 0.5rem;
	padding: 2rem;
}

#plan h4 {
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	padding-bottom: 1rem;
}

#plan img {
	margin: 1rem 0 0 4rem;
}

#plan, #testimonials, #about, #contact {
	margin: 1rem auto;
}

#testimonials section {
	display: block;
	text-align: center;
	margin: 0 auto;
}

#testimonials h4 {
	text-transform: uppercase;
	font-weight: bold;
	padding-top: 1rem;
}

#testimonials q {
	font-size: 1.2rem;
	display: block;
	text-align: center;
	line-height: 1.5;
	width: 55%;
	margin: 0 auto 1rem auto;
	font-style: italic;
}

#about {
	background-color: var(--blue);
}

#about h3 {
	width: 50%;
	margin-bottom: 1rem;
}

#about div {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

#about section {
	display: block;
	margin: 0 auto;
	text-align: center;
}

#contact form label, #contact form select{
	display: block;
}

#contact form label:not(fieldset label), fieldset legend {
	margin-left: 2.5rem;
	text-transform: uppercase;
	font-weight: 600;
	margin-top: 1rem;
}

#contact form input[type="text"], #contact form input[type="email"], #contact form input[type="tel"], #contact form select {
	display: block;
	padding: 1rem;
	width: 75%;
	border: 2px solid var(--purple);
	margin: 0.5rem auto 1.5rem auto;
}

fieldset label {
	margin: 0.5rem auto 1.5rem auto;
}

input[type="radio"] {
	background-color: var(--purple);
	width: 30%;
	height: 2.5rem;
}

#contact form select {
	width: 83%;
	padding: 1rem;
}

input[type="submit"] {
	display: block;
	background-color: var(--purple);
	color: var(--white);
	text-transform: uppercase;
	text-align: center;
	width: 83%;
	padding: 1.5rem 1rem;
	margin: 0.5rem auto;
	border: 0;
	font-size: 1rem;
}

footer {
	background-color: var(--light-gray);
	text-align: center;
	padding: 2rem 0;
}

footer a {
	display: block;
	color: var(--black);
	padding: 1rem 0 0.5rem 0;
	text-decoration: none;
}

@media screen and (min-width: 650px){
	header {
		height: 20rem;
	}

	h1 {
		display: inline;
		position: relative;
		bottom: 2.5rem;
		right: 2.5rem;
	}

	header p {
		position: relative;
		left: 12rem;
		bottom: 2rem;
		width: 60%;
	}

	#toggle ~ label {
		display: none;
	}

	nav ul {
		display: block;
		margin: 1rem auto;
	}

	nav li {
		display: inline;
		padding: 1rem;
		background-color: var(--white);
		margin: 0.5rem;
	}

	nav a {
		text-decoration: none;
		font-weight: 600;
		text-transform: uppercase;
		color: var(--black);
	}

	.active {
		background-color: var(--yellow);
	}

	#img-grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

}

@media screen and (min-width: 700px) {

}