/* CSS by Jacquelyn Bui */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end of css reset */

/* small screen styles */
@import url(https://fonts.google.com/share?selection.family=Molle:ital@1%7CMontserrat);

/* brand guide */
:root {
    --yellow: #F6D64A;
    --teal: #55BCD5;
    --purple: #9B26B0;
    --blue: #499BD2;
    --dark-gray: #222222;
    --light-gray: #EAEAEA;
    --white: #FFFFFF;
    --black: #000000;
    --heading-font: "Molle";
    --body-font: "Montserrat", sans-serif;
}

h1, h2, h3 {
	font-family: var(--heading-font);
}

h4, p, q, small, nav, button, form, footer a {
	font-family: var(--body-font);
}

/* skip link and screen reader only */
#skip, .sr-only {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

header {
	background-image: linear-gradient(var(--teal), var(--white));
}

/* mobile nav toggle */
#toggle, nav ul {
	display: none;
}

#menu-toggle {
	display: grid;
}

#toggle ~ label {
	background-color: var(--yellow);
	text-transform: uppercase;
	text-align: center;
	padding: 1rem 2rem;
	font-weight: 600;
	grid-column: 4/5;
	position: relative;
	bottom: 13rem;
}

#toggle:checked ~ ul {
	display: block;
	position: relative;
	bottom: 13rem;
	background-color: var(--teal);
	text-align: center;
}

#toggle:checked ~ label {
	grid-column: 1/-1;
	text-align: center;
	background-color: var(--black);
	color: var(--white);
	padding: 1rem 13.5rem;
}

#toggle:checked ~ ul li {
	display: block;
	text-transform: uppercase;
	padding: 2rem 0;
	border: 1px solid var(--black);
}

#toggle:checked ~ ul a {
	display: block;
	color: var(--black);
	text-decoration: none;
	font-weight: 600;
}

nav li:hover {
	background-color: var(--yellow);
}

/* headings */
h1 {
	font-size: 3rem;
	padding: 1rem 0 0.5rem 2.5rem;
}

h2 {
	font-size: 2.5rem;
	padding: 0rem 0 0.5rem 2.5rem;
}

h3 {
	font-size: 2rem;
	padding: 1.5rem 0 0.5rem 2.5rem;
}

h4 {
	font-size: 1.5rem;
	text-transform: uppercase;
	font-weight: 600;
	margin-top: 1rem;
}

p {
	font-size: 1.3rem;
	line-height: 1.7;
	margin: 0 2.5rem;
}

/* majorca */
#img-grid img {
	margin: 1.5rem auto;
	width: 100vw;
	display: grid;
}

/* plan your trip */
#plan{
	background-color: var(--yellow);
	padding-bottom: 1rem;
}

#plan div {
	display: grid;
}

#plan section {
	display: grid;
	background-color: var(--teal);
	width: 70%;
	margin: 0.5rem auto;
	border: 2px solid var(--white);
	border-radius: 0.5rem;
	padding: 2rem;
}

#plan h4 {
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	padding-bottom: 1rem;
}

#plan img {
	width: 50%;
	margin-left: 25%;
}

#plan, #testimonials, #about, #contact {
	margin: 1rem auto;
}

/* testimonials */
#testimonials section {
	display: block;
	text-align: center;
	margin: 0 auto;
}

#testimonials h4 {
	text-transform: uppercase;
	font-weight: bold;
	padding-top: 1rem;
}

#testimonials q {
	font-size: 1.2rem;
	display: block;
	text-align: center;
	line-height: 1.5;
	width: 55%;
	margin: 0 auto 1rem auto;
	font-style: italic;
}

/* about your destination */
#about {
	background-color: var(--blue);
}

#about h3 {
	width: 50%;
	margin-bottom: 1rem;
}

#about div {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

#about section {
	display: block;
	margin: 0 auto;
	text-align: center;
}

#about img {
	width: 60%;
	height: 50%;
}

/* contact us */
.required {
	color: var(--purple);
}

.form-required {
	font-family: var(--body-font);
	font-style: italic;
	font-size: 1rem;
}

#contact form label, #selects label{
	display: block;
}

#contact form label:not(fieldset label), fieldset legend {
	margin-left: 8%;
	text-transform: uppercase;
	font-weight: 600;
	margin-top: 1%;
}

#contact form input[type="text"], #contact form input[type="email"], #contact form input[type="tel"], #contact form select {
	display: block;
	padding: 1rem;
	width: 23rem;
	border: 2px solid var(--purple);
	margin: 0.5rem auto 1.5rem auto;
}

/* form radio */
fieldset label {
	display: block;
	margin: 1rem 0;
}

span.radio-label {
	position: relative;
	bottom: 1rem;
}

input[type="radio"] {
	accent-color: var(--purple);
	width: 25%;
	height: 3rem;
}

/* form selects */
#contact form select {
	width: 25rem;
	padding: 1rem;
	accent-color: var(--purple);
}

/* submit button */

input[type="submit"] {
	display: block;
	background-color: var(--purple);
	color: var(--white);
	text-transform: uppercase;
	text-align: center;
	width: 25rem;
	padding: 1.5rem 1rem;
	margin: 0.5rem auto;
	border: 0;
	font-size: 1rem;
}

/* footer */
footer {
	background-color: var(--light-gray);
	padding: 2rem 0;
	display: grid;
	grid-column: 1/-1;
}

footer p, footer a {
	text-align: center;
	display: block;
	color: var(--black);
	padding: 1rem 0 0.5rem 0;
	text-decoration: none;
}

/* medium screen styles */
@media screen and (min-width: 750px){
	/* header */
	header {
		height: 20rem;
		padding-top: 1rem;
	}

	h1 {
		display: inline;
		position: relative;
		bottom: 2.5rem;
		right: 2.5rem;
	}

	header p {
		position: relative;
		left: 12rem;
		bottom: 2rem;
		width: 60%;
	}

	/* nav */
	#toggle ~ label {
		display: none;
	}

	nav ul {
		display: block;
		margin: 1rem auto;
	}

	nav li {
		display: inline;
		padding: 1rem;
		background-color: var(--white);
		margin: 0.5rem;
	}

	nav a {
		text-decoration: none;
		font-weight: 600;
		text-transform: uppercase;
		color: var(--black);
	}

	.active {
		background-color: var(--yellow);
	}

	/* majorca */
	#img-grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		margin: 0 2rem;
		width: 95%;
		column-gap: 2rem;
	}

	#img-grid img {
		width: 100%;
	}

	#img-grid picture{
		grid-column: 1/-1;
		
	}
	
	/* plan your trip */
	#plan div {
		grid-template-columns: 1fr 1fr;
		grid-gap: 0;
	}

	/* testimonials */
	#testimonials div {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	#testimonials section {
		margin-top: 1rem;
	}

	/* about your destination */
	#about div {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}

	#about img {
		width: 50%;
		height: 40%;
	}

	#about p {
		font-size: 1rem;
	}

	#about h4 {
		font-size: 1.3rem;
	}

	/* contact us */
	#nums fieldset {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}

	#contact form input[type="text"], #contact form input[type="email"], #contact form input[type="tel"], #contact form select {
		width: 38rem;
	}

	#contact form select {
		width: 40rem;
	}

	/* form radio */
	.radio-input {
		margin-left: 3rem;
	}

	input[type="radio"] {
		width: 20%;
	}

	/* submit button */
	input[type="submit"] {
		width: 15rem;
		margin-left: 28rem;
	}

	/* footer */
	footer {
		display: grid;
		grid-template-columns: 2fr 1fr 1fr;
	}

	footer p, footer a {
		font-size: 1rem;
	}

	footer a {
		margin-top: 0.3rem;
	}
}

/* large screen styles */
@media screen and (min-width: 1485px) {
	/* header */
	header {
		padding-top: 1rem;
		height: 15rem;
	}

	/* nav */
	nav ul {
		position: relative;
		bottom: 10rem;
		left: 30%;
	}

	/* majorca */
	#intro {
		display: grid;
		grid-template-columns: 1fr 1.5fr;
		width: 85%;
		margin: 0 auto;
	}

	#intro p {
		grid-column: 1/2;
	}

	#img-grid {
		position: relative;
		bottom: 4rem;
	}

	/* plan your trip */
	#plan {
		padding: 2rem 0;
	}

	#plan h3 {
		margin-left: 7%;
	}

	#plan div {
		width: 83%;
		margin: 0 auto;
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}

	/* testimonials */
	#testimonials {
		width: 85%;
		padding: 2rem 0;
	}

	#testimonials div {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}

	#testimonials q {
		width: 95%;
		font-size: 1rem;
	}

	/* about your destination */
	#about {
		padding: 2rem 0;
	}

	#about h3 {
		margin-left: 7%;
	}

	#about section {
		width: 40%;
		margin: 0 auto;
	}

	/* contact us */
	form {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		margin: 0 auto;
		column-gap: 1rem;
	}

	#names {
		display: block;
	}

	#contact form input[type="text"], #contact form input[type="email"], #contact form input[type="tel"], #contact form select {
		width: 75%;
	}

	#contact {
		width: 85%;
	}

	.radio-input{
		display: inline;
	}

	input[type="radio"] {
		width: 20%;
		margin-left: 0;
		display: inline;
	}
	
	#selects label {
		padding-left: 5%;
	}

	/* submit button */
	input[type="submit"] {
		width: 10rem;
		padding: 1rem;
		margin-left: 55%;
	}

	/* footer */
	footer{
		display: grid;
		grid-template-columns: 3fr 1fr 1fr;
	}

	footer p {
		text-align: left;
		margin-left: 5rem;
	}
}